<% layout('layouts/boilerplate') -%> <!-- ejs-mate syntax -->
    <div class="row">
        <div class="col-md-6">
            <%- include('../partials/flash')  %> 
                <h1>Login</h1>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username : </label>
                        <input type="text" name="username" class="form-control" placeholder="Username" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password : </label>
                        <input type="password" name="password" class="form-control" placeholder="Password" id="password">
                    </div>
                    <button class="btn btn-success btn-sm" type="submit">Login</button>
                    <p>Create new account<a href="/register">here</a></p>
                </form>
        </div>
    </div>