<% layout('layouts/boilerplate') -%> <!-- ejs-mate syntax -->

    <div class="row">
        <div class="col-md-6"> 
                <div class="heading">
                    <h1>Signup</h1>
                </div>
                <form action="/register" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username : </label>
                        <input type="text" name="username" class="form-control" placeholder="Username" id="username">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email : </label>
                        <input type="text" name="email" class="form-control" placeholder="Eamil" id="email">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password : </label>
                        <input type="text" name="password" class="form-control" placeholder="Password" id="password">
                    </div>

                    <button class="btn btn-success btn-sm" type="submit">Signup</button>
                </form>
        </div>
    </div>