<% layout('layouts/boilerplate') %>


    <!-- if you want to add new product then you have to give me -> name,price,desc,img  -->
<div class="row">
<div class="col-md-7 mx-auto">
    <form action="/products" method="post">
        <div class="mb-3">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" type="text" placeholder="Enter the name of the prduct" name="name">
        </div>
        <div class="mb-3">
            <label class="form-label" for="img">Upload image URL:</label>
            <input  class="form-control" type="text" placeholder="Enter the URL of the prduct" name="img">
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price:</label>
            <input  class="form-control" type="number" name="price">
        </div>

        <div class="mb-3">
            <label class="form-label" for="desc">Description:</label> 
            <textarea class="form-control"  name="desc" id="" cols="10" rows="5"></textarea>
        </div>


        <button type="submit" class="btn btn-sm btn-success">Add</button>

    </form>

</div>
</div>